@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {
    nav.nav-open{
        width: 100%;
    }
nav .menu-btn{
    padding: 5px;

    left: 50px;
}
    .background {
        background-image: url("../images/mob_background.jpg");
    }

    .pic_block {
        flex-direction: column;
        text-align: center;
    }


    .workers_block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lp_block{
        flex-direction: column;
        justify-content: center;

    }

    .map{
        width: 100%;
    }
    .lp_flex{
        flex-direction: column;
    }
.flexing {
    flex-direction: column;

}
.flexing div{
    margin: auto;
}
.footer{
    flex-direction: column;

}
.pic_block{
    padding-left: 15px;
    padding-right: 15px;

}
.content{
    padding-left: 15px;
    padding-right: 15px;
}
.workers{
    padding-left: 15px;
    padding-right: 15px;

}
.workers_block{
    padding-left: 15px;
    padding-right: 15px;

}
.lp_block{
    padding-left: 15px;
    padding-right: 15px;
}
.about_blog{
    padding-left: 15px;
    padding-right: 15px;
}
.contact_us{
    padding-left: 15px;
    padding-right: 15px;
}
footer{
    padding-left: 15px;
    padding-right: 15px;
}
}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}