@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

    .background{
        background-image: url("../images/project_background_mob.jpg");
height: 1337px;
    }
    .head {
        background-image: url("../images/background_head_mob.png");
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 28px;
        top: 0;
        position: fixed;
    }
    .flexing{
        flex-direction: column;
    }
    .block_1 {
        padding-left: 0;
    }
    .block_1 p{
        width: auto;
        height: 700px;
    }
    .block_1 img{
        width: 100%;
    }
.pic img{
    width: 100%;
}
.pic{
    padding-left: 0;
}


    .footer{
        flex-direction: column;

    }
    .flexing_btn{
        display: none;
    }

}

@media only screen and (max-width: 420px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}