
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background {
    background-image: url("../images/head_backgraund.jpg");
    height: 100vh;
    background-size: cover;
    padding-top: 15px;

}

.head {
    position: fixed;
    width: 100%;
    padding-bottom: 170px;
}

.logo {
    max-width: 1185px;
    margin: auto;
}

span {
    font-style: italic;
}

.h1 {
    margin-top: 25%;
    text-align: center;
    color: white;
    font-size: 58px;
    font-family: 'open sans', sans-serif;
}

.content {
    padding-top: 80px;
    max-width: 770px;
    display: block;
    margin: auto;
}

.content h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;
}

.content h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}

.content p {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
}

.content .btn {
    text-align: center;
    padding-bottom: 165px;
}

.content a {
    border: 1px solid;
    padding: 25px 50px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;


}

.pic_block {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 160px;


}


.workers h3 {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}
.img_workers{
    width: 244px; height: 192px;
}
.img_workers img{
    width: 100%;
}

.workers h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 60px;
    font-weight: 600;
}

.workers p {

    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
}

.workers_block {
    margin: auto;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 165px;
}

.workers_info {
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 245px;

}

.workers_info h3 {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dfc368;
    font-family: 'opan sans', sans-serif;
    padding-left: 18px;
}

.workers_info h2 {
    padding-left: 18px;
    text-transform: capitalize;
    font-size: 21px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

.workers_info p {
    margin: 16px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
    font-weight: 600;
}

.lp h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;
}

.lp h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}
.lp_block{
    max-width: 770px;
    display: block;
    margin: auto;
}

.lp_info{
    background-color: #f9f9f9;
    display: block;
    padding-left: 40px;
    padding-right: 60px;

}

.lp_flex {

display: flex;
    justify-content: center;
}
.lp_pic{
    width: 100%;
}


.lp_block h3 {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 43px;
    padding-bottom: 27px;
    color: #8f979e;
    font-family: 'opan sans', sans-serif;

}

.lp_block h2 {
    text-transform: capitalize;
    font-size: 30px;
    color: #505d68;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

.lp_block p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7a848c;
    padding-bottom: 60px;
}
.lp_btn{
    padding-bottom: 60px;
}
.lp_info a {
    border: 1px solid;
    padding: 20px 45px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;
}

.about_blog {
    padding-top: 85px;
    text-align: center;
    padding-bottom: 160px;
}

.about_blog a {
    border: 1px solid;
    padding: 25px 50px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;

}

.contact_us h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}

.contact_us h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}

.contact_block {
    background-color: #f9f9f9;
    padding-bottom: 45px;
    max-width: 770px;
    display: block;
    margin: auto;

}

.flexing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexing div {
    width: 50%;
    text-align: center;
}

.flexing h3 {
    padding-top: 50px;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 50px;
    color: #5a6671;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}

.flexing p {
    line-height: 20px;
    font-size: 19px;
    color: #505d68;
}

footer {
    background-color: #f9f9f9;
    margin-top: 80px;
}

.footer {
    max-width: 770px;
    display: flex;
    margin: auto;



    justify-content: space-between;

}

.footer p {
    padding: 45px 20px;
    color: #636f78;
    font-size: 16px;
    font-family: 'opan sans', sans-serif;
    font-weight: 300;
}

img {
    width: auto;
}


