
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background {
    background-image: url("../images/background_about.jpg");
    height: 100vh;
    background-size: cover;
    padding-top: 15px;

}

.head {
    position: fixed;
    width: 100%;
}

.logo {
    max-width: 1185px;
    margin: auto;
}

.block {
    font-family: 'opan sans light', sans-serif;
    font-size: 18px;
    color: #4d5c66;
    padding-bottom: 160px;
    padding-top: 170px;
    max-width: 770px;
    margin: auto;
    text-align: center;
    line-height: 20px;


}

.services {
    max-width: 1280px;
    display: block;
    margin: auto;


}

.flex {
    display: flex;
    justify-content: center;
}



.img img {
    width: 100%;
}

.content {
    background-color: #f9f9f9;

}

.h3 {
    padding-bottom: 90px;
    padding-top: 55px;
    padding-left: 40px;
    font-size: 45px;
    color: #505d68;
    font-family: 'opan sans semibold', sans-serif;
    text-transform: capitalize;

}

.p {
    font-family: 'opan sans light', sans-serif;
    font-size: 18px;
    max-width: 220px;
    line-height: 20px;
    color: #505d68;
    padding-left: 55px;
}

.list {
    max-width: 230px;

    margin-left: 55px;
    color: #505d68;
    line-height: 20px;
    font-size: 18px;
    font-family: 'opan sans light', sans-serif;
    padding-top: 40px;

}

li {
    list-style-type: none;

}

li:before {
    content: "-";
    padding-right: 10px;

}

footer {
    background-color: #f9f9f9;
}

.footer {
    max-width: 770px;
    display: flex;
    margin: auto;


    justify-content: space-between;

}

.footer p {
    padding: 45px 20px;
    color: #636f78;
    font-size: 16px;
    font-family: 'opan sans light', sans-serif;
}




nav {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    transform: translateX(300px);
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
    background: rgba(255, 255, 255, 0.9);
}


nav .menu-btn {
    position: absolute;
    top: 10px;
    right: 5%;
    left: 0;
    padding: 10px;

    width: 30px;
    cursor: pointer;
    z-index: 2;
}
.nav-open .menu-btn{
    right: 0;
    left: 300px;
}

nav .menu-btn .line {

    padding: 0;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
    background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
    background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}


.inform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}
a{
    margin: 0 20px;
    color: #fff;
    font-size: 2rem;
    transition: all 400ms ease;
}

a:hover{
    color: #222;
}