* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background {
    background-image: url("../images/contact_background.jpg");
    background-size: cover;
    padding-top: 15px;
    height: 400px;
    max-width: 1280px;
    margin: auto;


}

.head {
    width: 100%;
    padding-bottom: 170px;
}

.logo {
    max-width: 1185px;
    margin: auto;
}
h4{
    padding-top: 130px;
    font-size: 13px;
    font-family: 'opan sans', sans-serif;
    font-weight: 600;
    color: #d4af37;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}
h3{
    color: #4d5c66;
    font-family: 'opan sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    font-size: 44px;
    padding-bottom: 90px;
}
.contacts{
    max-width: 769px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 80px;
}
.block_1{
    background-color: #d3b000;
    width: 300px;
    height: 300px;
}
.block_1 p{
padding-left: 30px;
    padding-top: 90px;
    color: white;
    font-size: 25px;
    font-family: 'opan sans', sans-serif;
    text-transform: capitalize;
    width: 240px;

}
.block_2{
    height: 300px;
    width: 466px;
    background-color: #f9f9f9;
}
.block_2 .p p{
    font-size: 20px;
    font-family: 'opan sans', sans-serif;
    font-weight: 300;
    color: #636b70;
    width: 415px;
    padding-top: 50px;
    padding-left: 50px;
}
.block_3{
    background-color: black;
    width: 300px;
    height: 300px;
}
.block_3 p{
padding-left: 30px;
    padding-top: 90px;
    color: white;
    font-size: 25px;
    font-family: 'opan sans', sans-serif;
    text-transform: capitalize;


}
.btn a{
    border: 1px solid;
    padding: 20px 50px;
    text-transform: none;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'opan sans', sans-serif;
    font-weight: 300;

}
.btn{
    text-align: center;
    padding-bottom: 85px;

}
footer {
    background-color: #f9f9f9;
    margin-top: 80px;
}

.footer {
    max-width: 770px;
    display: flex;
    margin: auto;


    justify-content: space-between;

}

.footer p {
    padding: 45px 20px;
    color: #636f78;
    font-size: 16px;
    font-family: 'opan sans light', sans-serif;
}
