
@font-face {
    font-family: 'Now-Bold';
    src: url('../fonts/now/NowAlt-Bold.eot');
    src: local('☺'), url('../fonts/now/NowAlt-Bold.woff') format('woff'), url('../fonts/now/NowAlt-Bold.ttf') format('truetype'), url('../fonts/now/NowAlt-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Now-Medium';
    src: url('../fonts/now/NowAlt-Medium.eot');
    src: local('☺'), url('../fonts/now/NowAlt-Medium.woff') format('woff'), url('../fonts/now/NowAlt-Medium.ttf') format('truetype'), url('../fonts/now/NowAlt-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background {
    background-image: url("../images/head_backgraund.jpg");
    height: 100vh;
    background-size: cover;
padding-top: 15px;

}

.head {
    margin-top: -15px;
    position: fixed;
    width: 100%;
    padding-bottom: 170px;
}

.logo {
    max-width: 1185px;
    margin: auto;
}
.logo a img{
    padding-top: 10px;
}

span {
    font-style: italic;
}

.h1 {
    margin-top: 25%;
    text-align: center;
    color: white;
    font-size: 58px;
    font-family: 'open sans', sans-serif;
}

.content {
    padding-top: 80px;
    max-width: 770px;
    display: block;
    margin: auto;
}

.content h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;
}

.content h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}

.content p {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
}

.content .btn {
    text-align: center;
    padding-bottom: 165px;
}

.content a {
    border: 1px solid;
    padding: 25px 50px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;


}

.pic_block {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 160px;


}


.workers h3 {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}
.img_workers{
    width: 244px; height: 192px;
}
.img_workers img{
    width: 100%;
}

.workers h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 60px;
    font-weight: 600;
}

.workers p {

    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-weight: 600;
}

.workers_block {
    margin: auto;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 165px;
}

.workers_info {
    margin: 5px;
    background-color: #f9f9f9;
    max-width: 245px;

}

.workers_info h3 {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dfc368;
    font-family: 'opan sans', sans-serif;
    padding-left: 18px;
}

.workers_info h2 {
    padding-left: 18px;
    text-transform: capitalize;
    font-size: 21px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

.workers_info p {
    margin: 16px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
    font-weight: 600;
}

.lp h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;
}

.lp h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}
.lp_block{
    max-width: 770px;
    display: block;
    margin: auto;
}

.lp_info{
    background-color: #f9f9f9;
    display: block;
    padding-left: 40px;
    padding-right: 60px;

}

.lp_flex {

display: flex;
    justify-content: center;
}
.lp_pic{
    width: 100%;
}


.lp_block h3 {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 43px;
    padding-bottom: 27px;
    color: #8f979e;
    font-family: 'opan sans', sans-serif;

}

.lp_block h2 {
    text-transform: capitalize;
    font-size: 30px;
    color: #505d68;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

.lp_block p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7a848c;
    padding-bottom: 60px;
}
.lp_btn{
    padding-bottom: 60px;
}
.lp_info a {
    border: 1px solid;
    padding: 20px 45px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;
}

.about_blog {
    padding-top: 85px;
    text-align: center;
    padding-bottom: 160px;
}

.about_blog a {
    border: 1px solid;
    padding: 25px 50px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'opan sans light', sans-serif;
    font-weight: 300;

}

.contact_us h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #dfc368;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}

.contact_us h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: #4d5c66;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 58px;
    font-weight: 600;
}

.contact_block {
    background-color: #f9f9f9;
    padding-bottom: 45px;
    max-width: 770px;
    display: block;
    margin: auto;

}

.flexing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexing div {
    width: 50%;
    text-align: center;
}

.flexing h3 {
    padding-top: 50px;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 50px;
    color: #5a6671;
    text-align: center;
    font-family: 'opan sans', sans-serif;

}

.flexing p {
    line-height: 20px;
    font-size: 19px;
    color: #505d68;
}

footer {
    background-color: #f9f9f9;
    margin-top: 80px;
}

.footer {
    max-width: 770px;
    display: flex;
    margin: auto;



    justify-content: space-between;

}

.footer p {
    padding: 45px 20px;
    color: #636f78;
    font-size: 16px;
    font-family: 'opan sans', sans-serif;
    font-weight: 300;
}

img {
    width: auto;
}
.ui-dialog .ui-dialog-title {
    text-align: center;
    margin: 40px;
    font-size:24px ;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Now-Bold', sans-serif;
    color: white;

}
.ui-widget-header {
    background-color: black;
    max-width: 750px;
    font-weight: bold;
}

.ui-dialog{
    padding: 0!important;
    border: 0;
    max-width: 750px!important;
    width: 100% !important;

}
.ui-widget-content {
    border: none!important;
    padding: 0;
    background-color: #fbfbfb!important;
    color: #333333;
    border-bottom-right-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
}

.email{
    font-size: 22px;
    font-family: 'Now-Medium',sans-serif;
    text-transform: uppercase;
    padding-left: 80px;
    display: inline-block;
    width: 250px;
    text-align: center;
}
form{
    padding-top: 43px;
}
.ui-widget input{
    height: 60px;
    width: 385px;
    display: inline-block;
    margin-left: 50px;
    font-size:25px ;
    font-family: 'Now-Medium', sans-serif;
    border: 1px solid #b9b9b9 ;
    border-bottom: none;
    outline: none;


}
.form_flex{
    max-width: 625px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.ui-widget button{
    height: 60px;
    width: 528px;
    font-size: 24px;
    font-family: 'Now-bold',sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: #b9b9b9;
    border: none;
}
.form_btn {
    display: block;
    margin: auto;

}
#dialog  h4{
    text-align: center;
    font-family: 'Now-Medium',sans-serif;
    font-size: 22px;
    color: #363636;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fb_link{
    background-color:#4865a4 ;
    height: 60px;
    width: 528px;
    font-size: 24px;
    font-family: 'Now-bold',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: auto;

}
.fb_link a {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 20px 85px;
}
.fa-facebook-f{
    padding-right: 16px;
    font-weight: 300;
}
.dia_block{
    padding-bottom: 166px;
}






nav {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    transform: translateX(300px);
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
    background: rgba(255, 255, 255, 0.9);
}


nav .menu-btn {
    position: absolute;
    top: 10px;
    right: 5%;
    left: 0;
    padding: 10px;

    width: 30px;
    cursor: pointer;
    z-index: 2;
}
.nav-open .menu-btn{
    right: 0;
    left: 300px;
}

nav .menu-btn .line {

    padding: 0;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
    background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
    background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}


.inform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}
a{
    margin: 0 20px;
    color: #fff;
    font-size: 2rem;
    transition: all 400ms ease;
}

a:hover{
    color: #222;
}
